{{!-- {{>header}} --}}
<div
  class="request-wrapper"
  style="text-align: center; background: #187cb714; border: 1px solid #187cb714; padding: 30px;"
>
  <div class="container">
    <h3 style=" margin: 0; padding: 0; font-size: 22px;font-weight: 400;">
      {{message}}
    </h3>
  </div>
</div>