/* Grid layout for charts */
.charts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* Space between charts */
  justify-items: center;
  /* Center charts horizontally */
  align-items: start;
  /* Align charts to the top */
}

/* Styling for individual chart containers */
.charts-grid>.chart-container {
  background-color: #ffffff;
  /* White background for each chart */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Light shadow for chart containers */
  width: 100%;
  /* Ensure charts take full width of grid item */
  box-sizing: border-box;
  /* Include padding in width calculation */
}

.filter-btn-wrapper .filter-select-container .ant-form-item .ant-row {
  margin: 0;
}

.table-section .table-header {
  padding: 10px;
  justify-content: space-between;
  display: flex;
  border-radius: 4px;
  margin: 10px 0;
  box-shadow: 0 1px 2px #0000000d;
  background-color: #fff;
  flex-wrap: wrap;
}
.stat-value{
  border-radius: 100%;
  padding: 2px;
  width: 25px;
  text-align: center;
  align-content: center;
  height: 25px;
  margin: 0 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  background-color: #ffffff;
    box-shadow: 0 1px 2px #0000000d;
}