.admin-user .ant-modal-content .ant-modal-header .ant-modal-title {
    font-weight: 600;
    background-color: transparent;
}
.ant-modal-content .ant-modal-title {
    padding: 16px 24px;
    color: #545454;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 6px 6px 0 0;
}